.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 50%;
}

.form__header {
    font-family: UbuntuBold, sans-serif;
    color: hsl(213, 96%, 18%);
}

.form__description {
    display: block;
    color: hsl(231, 11%, 63%);
    margin-bottom: 1rem;
}

.hide {
    display: none;
}

