.form-input {
    margin-bottom: 2rem;
}

.form-input__name {
    font-family: UbuntuMedium, sans-serif;
    display: block;
    margin-bottom: 0.5rem;
    color: hsl(213, 96%, 18%);
}

.form-input__input {
    font-family: UbuntuRegular, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 0.7rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 0.5rem;
}